@import './header';

$f : flex;
@mixin flexCenter($justify){
    display: $f;
    justify-content: $justify;
    align-items: center;
}
.main-div{
    @include flexCenter(center);
    p{
        color: lightblue;
        &:hover{
            color: lightgreen;
        }
    }
}